/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6a4922;
}

.container {
    background-color: #533613bd;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* Estilos de header */
header {
    background-image: url(../imagenes/tabaco-tabaco.jpg);
    opacity: 0.8;
    background-size: 100% 140%;
    color: #ffffff;
    text-decoration-line: 2px;
    padding: 30px;
    text-align: left;
    box-shadow: 0px 2px 4px rgba(33, 33, 33, 0.693);
}

#logo {
    width: 10%;
    height: 10%;
    text-align: center;
    padding: 0% 30% 0% 0%;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

/* Estilos de navegación */
nav {
    background-color: #444;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos de contenido */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(65% - 20px); /* 65% del ancho total menos el margen de 20px */
}

#tabla_contenidos {
    position: fixed;
    top: 50%;
    right: 0; /* Cambiamos left por right para posicionar a la derecha */
    transform: translateY(-50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(30% - 20px); /* 30% del ancho total menos el margen de 20px */
    margin-right: 20px; /* Ajustamos el margen a la derecha */
}

#tabla_contenidos h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

#tabla_contenidos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tabla_contenidos ul li {
    margin-bottom: 5px;
}

#tabla_contenidos ul li a {
    text-decoration: none;
    color: #666;
    transition: color 0.3s ease;
}

#tabla_contenidos ul li a:hover {
    color: #333;
}

/* Estilos de footer */
footer {
    font-family: Garamond;
    background-color: #1A5276;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 5px 0;
}

.redes-sociales {
    display: flex;
    justify-content: end;
}

.redes-sociales a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
}

.redes-sociales img {
    border-radius: 5px;
}

.redes-sociales a:hover {
    color: #ccc;
}

/* Estilos de imágenes */
.imagen_izquierda,
.imagen_final {
    width: auto;
    height: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#drogas1 {
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 5px;
}

.imagen_izquierda {
    float: left;
    margin-left: 20px;
    align-items: center;
}

.imagen_final {
    float: right;
    margin-left: 20px;
    align-items: center;
}

.imagenes {
    border-radius: 5px;
    margin-left: 20px;
    align-items: center;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/* Contenedor de datos personales */
.contenedor-datos-personales {
    margin-bottom: 20px; /* Separación entre secciones */
}

/* Títulos de sección */
h2 {
    text-align: center;
    color: #805A2C; /* Marrón oscuro para títulos */
    font-weight: bold;
    margin-bottom: 15px;
}

/* Etiquetas de los campos */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #805A2C; /* Marrón oscuro para etiquetas */
}

/* Campos de entrada */
input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Elementos de enfoque */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    outline: none;
    border-color: #F0AD4E; /* Amarillo para enfoque */
    box-shadow: 0 0 5px rgba(240, 173, 78, 0.5); /* Sombra amarilla */
}

/* Contenedor de datos sobre la adicción */
.contenedor-datos-adiccion {
    margin-bottom: 20px; /* Separación entre secciones */
}
